@import '../../styles/tokens.scss';

$card_padding_compensation: 8px;
$transition_default: all 0.25s;

.card {
  text-align: left;
  margin-bottom: 1rem;

  &:not(.alive) {
    .avatar img {
      opacity: 0.3;
    }
  }

  &:hover {
    .avatar img {
      outline-color: $color_primary;
      cursor: pointer;
    }
  }

  &:active {
    .avatar img {
      outline-color: #535bf2;
    }
  }

  .avatar {
    padding: $card_padding_compensation;
    margin-bottom: 8px;

    img {
      width: 100%;
      aspect-ratio: 1/1.3;
      object-fit: cover;

      border-radius: 8px;
      outline: $card_padding_compensation solid #1a1a1a;
      transition: $transition_default;
    }
  }

  .aliveInformation {
    color: $color_danger;


    &.alive {
      color: $color_success;
    }
  }
}