#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

$grid_gap_conpensation: 0.5rem;

.grid {
  display: flex;
  flex-wrap: wrap;
  gap: $grid_gap_conpensation;

  li {
    width: calc(25% - $grid_gap_conpensation);
  }
}